/* HTML tag Selectors */
* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
}

/* Class selectors */
.container {
    display: flex;
    flex-direction: column;
}

.hero {
    display: flex;
    flex-direction: column;
}

.hero-text {
    padding-left: 40px;
}

.hero-text > p {
    width: 320px;
}


.navbar {
    align-items: center;
    display: flex;
    padding: 30px 30px;
    box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1), 0 4px 6px -4px rgba(0,0,0,0.1);
}

/* ID selectors */
#hero-img {
    align-self: center;
    max-width: 400px;
    padding-top: 30px;
}

#navbar-logo {
    max-width: 100px;
}